# .gitignore
__pycache__/
*.py[cod]
*$py.class

.env
*.env
env/
venv/
ENV/
env.bak
venv.bak

.vscode/
.idea/
build/
dist/
*.egg-info/
*.so
*.dll# .gitignore
__pycache__/
*.py[cod]
*$py.class

.env
*.env
env/
venv/
ENV/
env.bak
venv.bak

.vscode/
.idea/
build/
dist/
*.egg-info/
*.so
*.dll

volumes/
out.json
